/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

/* purgecss start ignore */
html,
body,
#__next {
  height: 100%;
  /* display: flex; */
  /* flex-direction: column; */
  /* flex: 1; */
  /* justify-content: center; */
}
/* purgecss end ignore */

.link {
  background: linear-gradient(
    0deg,
    theme(colors.purple.50) 50%,
    transparent 50%
  );
  @apply text-purple-900 font-medium;
}

.soft-light {
  mix-blend-mode: soft-light;
}

button {
  touch-action: manipulation;
}

input {
  appearance: none;
}

.wf-loading {
  opacity: 0;
}

.wf-active {
  -webkit-transition: opacity 0.25s ease-in;
  transition: opacity 0.25s ease-in;
  opacity: 1;
}

.wf-inactive {
  opacity: 1;
}
