:root {
  --page-primary: theme('colors.white');
  --page-secondary: theme('colors.gray.50');

  --fg-primary: theme('colors.gray.900');
  --fg-secondary: theme('colors.gray.600');
  --fg-accent: theme('colors.purple.600');
}

body {
  @apply bg-page-primary text-fg-primary;
}

* {
  font-weight: inherit;
  text-rendering: optimizeLegibility;
  appearance: none;
  @apply antialiased appearance-none;
}
