:root {
  --page-primary: theme('colors.white');
  --page-secondary: theme('colors.gray.50');

  --fg-primary: theme('colors.gray.900');
  --fg-secondary: theme('colors.gray.600');
  --fg-accent: theme('colors.purple.600');
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-primary: theme('colors.gray.900');
    --page-secondary: theme('colors.gray.700');

    --fg-primary: theme('colors.white');
    --fg-secondary: theme('colors.gray.300');
    --fg-accent: theme('colors.purple.500');
  }
}

body {
  @apply bg-page-primary text-fg-primary;
}
